/* Header */
#header
{
    display:flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    border: 1px solid;
}

#idLogo {
  width: 70px;
  height: 60px;
  overflow: hidden;
  border: 1px solid black;
}

#idLogo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 1px solid red;
}

#nav-items > ul
{
    display: flex;
    list-style-type: none;
    margin: 24px;
}

#nav-items > ul > li
{
    padding: 10px;
    font-size: 20px;
}

/* body */

.body
{
    border: 2px solid black;
    
}

.search
{
 display: flex;
 flex-wrap: wrap;
}

#restaurant-container
{
    display: flex;
    justify-content:flex-start;
    flex-wrap: wrap;
}

#card-container
{
    border: 1px solid red;
    margin: 2px;
    width: 241px;
    background-color: #bbbaba;
    
}

#card-img > img
{
    width: 100%;
    height: 100%;
}


#shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  height: 100px;
  width: 200px;
  background-color: #f0f0f0;
  margin: 10px;
  position: relative;
  overflow: hidden;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: -150px;
  height: 100%;
  width: 150px;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgba(255, 255, 255, 0.6) 50%,
    transparent 100%
  );
  animation: shimmer 1.2s infinite;
}

@keyframes shimmer {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}
